/* Css variables */
:root {
  scroll-behavior: smooth;
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --super-dark-blue: hsl(234, 17%, 12%);
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Revisar esta propiedad */
}

body {
  background-color: var(--super-dark-blue);
  background-image: url('images/bg-stars.svg');
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

h1 {
  text-align: center;
  color: var(--very-dark-blue);
}

.card-style {
  /* Max-width y min height */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 400px;
  height: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 20px;
}

p {
  text-align: center;
  font-size: 11px;
  color: var(--grayish-blue);
}

footer {
  color: var(--grayish-blue);
  font-family: Roboto;
  padding: 10px;
  font-size: 12px;
}


/* Media queries */
@media (max-width: 300px) {
  .card-style {
    width: 250px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 10px;
  }
}

@media (max-width: 00px) {
  .card-style {
    width: 300px;
  }
}