/* Css variables */
:root {
  scroll-behavior: smooth;
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --super-dark-blue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Revisar esta propiedad */
}

body {
  background-color: var(--very-dark-blue);
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}


.card-style {
  /* Max-width y min height */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 400px;
  height: auto;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 20px;
}

